<%- include ('../layouts/adminHeader.ejs') %>

 

    <h4 class="text-center text-success my-5">COUPON</h4>
    <a href="/admin/addCoupon"><button type="button" class="btn btn-primary mx-3">+ Add Coupon</button></a>



    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">SL NO</th>
          <th scope="col">Coupon Name</th>
          <th scope="col">Discound</th>
          <th scope="col">Min Value</th>
          <th scope="col">Max Value</th>
          <th scope="col">ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <% if(coupon){%>
          <% for(i=1;i<=coupon.length;i++){ %>
            <tr>
              <td>
                <%=i%>
              </td>
              <td><%=coupon[i-1].name%></td>
              <td><%=coupon[i-1].discount%>%</td>
              <td><%=coupon[i-1].minimumvalue%></td>
              <td><%=coupon[i-1].maximumvalue%></td>

              <td>
                <a href="/admin/edit-coupon?id=<%- coupon[i-1]._id %>"><button type="button"
                    class="btn btn-success">edit</button></a>

                <a href="/admin/delete-coupon?id=<%- coupon[i-1]._id %>" class="btn btn-danger p-1 border-3"
                  type="button">delete</a>&nbsp;
                <a id="<%-coupon[i-1]._id %>" style="text-decoration: none; color: #4117be;"
                  href="/admin/avail-coupon?id=<%- coupon[i-1]._id %>">
                  <% if(coupon[i-1].isAvailable){ %>Unlist<%}else{%>list<%}%>
                </a>
              </td>
            </tr>
            <%}}%>
      </tbody>
    </table>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure want to delete ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="save()">delete</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"></script>
    <script>
          // var val
          // function del(value) {
          //     val = value
          //     console.log(val);
          // }
          // function save() {
          //     document.getElementById(val).click()
          //     console.log(`true ${val}`);
          // }

    </script>

    <%- include ('../layouts/adminFooter.ejs') %>