<%- include ('../layouts/adminHeader.ejs') %>

        <h4 class="text-center my-5 text-success" style="background-image: url('/assets/img/vcf.jpg');">ALL PRODUCTS</h4>
        <a href="/admin/add-product"><button type="button" class="btn btn-primary mx-3">+ Add Product</button></a>
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">SL NO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">STOCK</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">RATING</th>
                    <th scope="col">IMAGE</th>
                    <th scope="col">ACTION</th>


                </tr>
            </thead>
            <tbody>
                <% if(products.length> 0){ %>
                    <% for(let i=1;i <=products.length; i++){ %>
                        <% if(products.length>=0){ %>
                            <tr>
                                <th>
                                    <%= i %>
                                </th>
                                <td>
                                    <%= products[i-1].name %>
                                </td>
                                <td>
                                    <%= products[i-1].stock %>
                                </td>
                                <td>
                                    <%= products[i-1].category %>
                                </td>

                                <td>
                                    <%= products[i-1].price %>
                                </td>
                                <td>
                                    <%= products[i-1].rating %>
                                </td>

                                <td>
                                    <% if(products[i-1].image) { %>
                                        <img src="/uploads/<%= products[i-1].image[0] %>" width="100vw" height="100vh">
                                        <% }else{ %>
                                            Image Not Found
                                            <% } %>
                                </td>
                                <td>
                                    <a class="text-success" href="/admin/edit-product?id=<%= products[i-1]._id %>"><i
                                            style="color: green;" class="m-r-5 mdi mdi-border-color"></i>Edit</a><br>

                                    <a onclick="return confirm('do you want to delete?')" class="text-danger"
                                        href="/admin/delete-product?id=<%= products[i-1]._id %>"><i
                                            style="color: #ff0000;"
                                            class="m-r-5 mdi mdi-border-color"></i>Delete</a><br>


                                    <a id="<%-products[i-1]._id %>" style="text-decoration: none; color: #310fca;"
                                        href="/admin/show-product?id=<%-products[i-1]._id %>">
                                        <% if(products[i-1].isAvailable){ %>Unlist<%}else{%>list<%}%>
                                    </a>
                                </td>

                            </tr>
                            <% } %>
                                <% } } else{ %>
                                    <tr>
                                        <td colspan="5">Products Not Found</td>
                                    </tr>
                                    <% } %>

            </tbody>
        </table>

        <%- include ('../layouts/adminFooter.ejs') %>