<%- include ('../layouts/adminHeader.ejs') %>



    <div class="container">
      
      <br><br>
      <h4 class="text-center text-success">USER DETAILS</h4><br>

      <br>
      <table class="table text-center ">
        <thead class="thead-light">
          <tr>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">MOBILE</th>
            <th scope="col">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <% if(users.length> 0){

            for(let i=0;i<users.length;i++){ %>
              <tr>
                <td>
                  <%= users[i].name %>
                </td>
                <td>
                  <%= users[i].email %>
                </td>
                <td>
                  <%= users[i].mobile%>
                </td>
                <td>

                  <% if(users[i].is_verified){%>
                    <button class="btn  btn-outline-danger" data-toggle="modal" data-target="#block"
                      onclick="block('<%- users[i]._id %>')">Block</button>
                    <% } else{%>
                      <button class="btn  btn-outline-danger" data-toggle="modal" data-target="#unBlock"
                        onclick="block('<%- users[i]._id %>')">UnBlock</button>
                      <%}%>
                        <a id="<%- users[i]._id %>" style="text-decoration: none; color: #ffff; display: none;"
                          href="/admin/block-user?id=<%= users[i]._id %>">Block</a>
                </td>
              </tr>
              <% } } else{ %>
                <tr>
                  <td colspan="5">users not found </td>
                </tr>
                <% } %>
        </tbody>
      </table>
    </div>

    <div class="modal fade" id="block" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirm Block</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure want to Block user ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="save()">Block</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="unBlock" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirm UnBlock</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure want to UnBlock ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="save()">UnBlock</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"></script>
    <script>
      var val
      function block(value) {
        val = value
        console.log(val);
      }
      function save() {
        document.getElementById(val).click()
        console.log(`true${val}`);
      }

    </script>


    <%- include ('../layouts/adminFooter.ejs') %>